@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background: linear-gradient(
    -135deg,
    hsl(303, 64%, 47%),
    hsl(276, 77%, 51%),
    hsl(281, 100%, 50%),
    hsl(0, 100%, 50%),
    hsl(330, 100%, 56%),
    hsl(12, 100%, 55%)
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 60% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}
